**/__pycache__/
**/*.pyc
**/*.pyo
**/.DS_Store
.git/
.gitignore
.vscode/
.idea/
.ipynb_checkpoints/
*.ipynb

# If you have huge raw datasets, exclude them:
data/
datasets/
logs/
images/
secrets/

# Keep models INCLUDED (do NOT ignore saved_models_tensorflow)
# saved_models_tensorflow/   <-- do NOT add this line
